<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Using $http to call api</title>
    <script src="scripts/angular.js"></script>
    <script>
        var myModule = angular.module("myModule", []);
        var myController = function ($scope, $http) {
            $scope.customers = null;
            $scope.doClick = function () {
                $http({
                    method: "Get", 
                    url: 'http://localhost:5000/getcustomers'
                }).then(function (res) {
                    $scope.customers = res.data;
                });
            }
        }
        myModule.controller("myController", myController);

    </script>
</head>
<body ng-app="myModule" ng-controller="myController">
    <button ng-click="doClick()">Get Customers</button>
    <table>
        <tr ng-hide="customers==null"><th>Customer ID</th><th>Contact Name</th><th>City</th></tr>
        <tr ng-repeat="cus in customers">
            <td>{{cus.CustomerID}}</td>
            <td>{{cus.ContactName}}</td>
            <td>{{cus.City}}</td>
        </tr>
    </table>
</body>
</html>