body {
    background-color: yellow;
    font-family: sans-serif;
}

h1 {
    color: blue;
}

h2 {
    color: red;
}

th {
    text-align: left;
}

table,tr,td,th {
    border: 2px solid black;
}

p {
    color: purple;
}